<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783421738121-lubg70gsmuq1895jnsh6312sslsh9fba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783421738121-lubg70gsmuq1895jnsh6312sslsh9fba</string>
	<key>API_KEY</key>
	<string>AIzaSyB7cwleGMBwSkDVb1Cbhx99Sn4dgukmwUY</string>
	<key>GCM_SENDER_ID</key>
	<string>783421738121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testAzteca.mg.com.Test-Azteca</string>
	<key>PROJECT_ID</key>
	<string>testazteca-da306</string>
	<key>STORAGE_BUCKET</key>
	<string>testazteca-da306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783421738121:ios:044021d9b509671f0f0a58</string>
</dict>
</plist>